.contact {
    padding: 20px;
    text-align: left;
    background-color: #ffe6e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
  }
  
  .contact input,
  .contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact button:hover {
    background-color: #0056b3;
  }
  
  